<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="timeZone" value="${TZ:-America/Buenos_Aires}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <logLevel/>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss,SSS</pattern>
                    <timeZone>${timeZone}</timeZone>
                </timestamp>
                <loggerName/>
                <callerData>
                    <classFieldName>class_field</classFieldName>
                    <methodFieldName>method</methodFieldName>
                    <fileFieldName>class</fileFieldName>
                    <lineFieldName>line</lineFieldName>
                </callerData>
                <tags/>
                <mdc/>
                <message/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>